.navbar {
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.80) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
  background-color: #0b0b0b;
  height: 3rem;
}


.brand {
  font-size: 1.2em;
  color: white;
  font-family: 'Martel Sans', sans-serif;
  letter-spacing: 4px;
  transition: .3s;
}

.brand:hover {
  letter-spacing: 5px;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
  color: #FB2576;
}


.links_list {
  background-color: #0b0b0b;
  list-style: none;
  display: flex;
  align-items: center;
  height: 3rem;
}

.links_list li {
  margin-block: 2.5rem;
}

.links_list li a {
  padding: .4em .6em;
  color: white
}

.links_list li button {
  color: white;
  position: relative;
  bottom: 1px;
}

.active {
  background-color: #FB2576;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {

  .links_list {
    position: absolute;
    min-width: 60%;
    height: 60vh;
    top: -16px;
    right: 0;
    background-color: #0b0b0b;
    z-index: 999;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    animation: show-down .4s forwards;
  }

  .hamburger {
    display: block;
    z-index: 1000;
    color: #aaa;
  }

  .links_list li {
    margin-top: .5rem;
  }

  @keyframes show-down {
    from {
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

}