body {
  background: rgb(63, 0, 113);
  background: linear-gradient(90deg, rgba(63, 0, 113, 1) 9%, rgba(21, 0, 80, 1) 40%, rgba(37, 0, 93, 1) 75%, rgba(63, 0, 113, 1) 100%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Martel Sans', sans-serif;
  width: 100%;
}

/* * {
  outline: 1px solid #f00 !important;
} */

input::placeholder,
textarea::placeholder {
  font-family: 'Martel Sans', sans-serif;
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Martel Sans', sans-serif;
}

a:hover,
nav button:hover {
  color: #FB2576;
}

form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #CCC;
  padding: .8em 0;
  background-color: transparent;
  caret-color: #aaa;
  color: #aaa;
}

.btn {
  padding: 0.8em 1.2em;
  border: 2px solid #FB2576;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
}

.btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FB2576;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 135%;
}

.btn:hover {
  color: #fff;
}

button[disabled] {
  background-color: #AAA;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

.loadingScreen {
  display: flex;
  align-content: center;
  justify-content: center;
}

.loadingScreen svg {
  width: 80px;
  height: 80px;
  margin-left: 2em;
  margin-top: 7px;
}

.loadingScreen p {
  font-size: 2rem;
}

/* LOADER */

.planet {
  margin-top: 100px;
  display: block;
  width: 125px;
  height: 125px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #fcc96b;
  background: #fcc96b;
  background: linear-gradient(180deg,
      #fcc96b 0%,
      #fcc96b 15%,
      #f7ae01 15%,
      #f7ae01 19%,
      #fcc96b 19%,
      #fcc96b 22%,
      #f7ae01 22%,
      #f7ae01 28%,
      #fcc96b 28%,
      #fcc96b 31%,
      #fcc96b 33%,
      #fcc96b 36%,
      #f7ae01 36%,
      #f7ae01 48%,
      #fcc96b 48%,
      #fcc96b 55%,
      #f7ae01 55%,
      #f7ae01 66%,
      #fcc96b 66%,
      #fcc96b 70%,
      #f7ae01 70%,
      #f7ae01 73%,
      #fcc96b 73%,
      #fcc96b 82%,
      #f7ae01 82%,
      #c7ba9d 86%,
      #fcc96b 86%);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
    0 0 100px #ffffff59;
  transform: rotateZ(-15deg);
}

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #e1a519;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #c18620;
  animation: rings1 0.8s infinite linear;
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #d48b0c;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b99309;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 0.7rem;
    display: grid;
  }
}